language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3

cache:
  directories:
    - $HOME/.composer/cache/files

before_script:
  - composer self-update
  - composer install --dev --no-interaction
